<fieldset
  *ngIf="hasSettings"
  legend="Settings"
  class="ui-fieldset ui-widget ui-widget-content ui-corner-all"
>
  <legend
    class="ui-fieldset-legend ui-corner-all ui-state-default ui-unselectable-text"
  >
    <span class="ui-fieldset-legend-text" i18n>Building settings</span>
  </legend>

  <div
    class="building-setting-row"
    *ngFor="let row of rows; trackBy: trackByRow"
  >
    <span class="building-setting-label">{{ row.label }}</span>

    <span class="building-setting-control">
      <input
        *ngIf="row.type === 'bool'"
        type="checkbox"
        [checked]="row.displayValue"
        (change)="onFieldInput(row, $any($event.target).checked)"
      />

      <ng-container *ngIf="row.type === 'int' || row.type === 'float'">
        <input
          #numInput
          type="number"
          class="building-setting-number"
          [value]="row.displayValue"
          [attr.min]="row.displayMin"
          [attr.max]="row.displayMax"
          [attr.step]="row.step"
          (blur)="onFieldInput(row, numInput.value)"
          (keydown.enter)="onFieldInput(row, numInput.value); numInput.blur()"
        />
        <span class="building-setting-unit" *ngIf="row.unitSuffix">{{
          row.unitSuffix
        }}</span>
        <span class="building-setting-hint" *ngIf="row.cycleHint">
          ({{ row.cycleHint }})
        </span>
      </ng-container>

      <input
        *ngIf="row.type === 'string'"
        #textInput
        type="text"
        class="building-setting-text"
        [value]="row.displayValue"
        [attr.maxlength]="row.displayMax"
        (blur)="onFieldInput(row, textInput.value)"
        (keydown.enter)="onFieldInput(row, textInput.value); textInput.blur()"
      />
    </span>
  </div>

  <button
    *ngFor="let item of creatableSettings; trackBy: trackByCreatable"
    pButton
    type="button"
    class="ui-button building-setting-add"
    (click)="addSetting(item.key)"
  >
    {{ item.label }}
  </button>

  <div
    *ngIf="otherKeys.length > 0"
    class="building-setting-other"
    [pTooltip]="otherKeysTooltip"
    tooltipEvent="both"
  >
    {{ otherKeys.length }} other stored setting<span
      *ngIf="otherKeys.length !== 1"
      >s</span
    >
    (preserved)
  </div>
</fieldset>
